@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  font: 1.2rem sans-serif;
  margin: 0;
}

header {
  background: #eee;
  font: 2rem 'Open Sans';
  margin: 0;
  padding: 1rem;
  text-align: center;
}

section {
  margin: 1rem auto;
  padding: 1rem;
  max-width: 1200px;
  width: 80%;
}

footer {
  color: #333;
  margin: 1rem;
  text-align: center;
}

.warn {
  background: #333;
  border-left: 3px solid yellow;
  color: yellow;
  padding: 1em;
}
